* {
    box-sizing:border-box;
    text-align: center;
}

body {
    font-family: 'Arial','Helvetica Neue', Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
}

header {
    background-color: #ebebeb;
    padding: 20px;
    margin-bottom: 10px;
}

.nav {
    background-color: #ebebeb;
    padding: 40px;
    margin-bottom: 25px;
}

.section {
    float: left;
    background-color: #ebebeb;
    color: #777;
    width: 500px;
    padding: 10px;
}
.article {
    background-color: #777;
    color: #ebebeb;
    padding: 15px;
}

.h1 {
    background-color: #ebebeb;
    color: #777;
    font-weight: bold;
    padding: 2px;
}

.p {
    color: #777;
    background-color: #ebebeb;
    padding: 2px;
    margin-top: 10px;
}

.aside {
    background-color: #ebebeb;
    float: right;
    width: 440px;
    height: 296px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
    overflow: auto;
}
.div {
    width: 495px;
}
.footer {
    background-color: #ebebeb;
    padding-bottom: 50px;
}